
#rdfviz-rules-form .form-item {
  clear:left;
}
#rdfviz-rules-form .form-item label {
  display:inline;
  float:left;
  width:25%;
}

#rdfviz-rules-form .form-item input {
  display:inline;
  float:left;
  width:70%;
  margin-left:2%;
}

#rdfviz-rules-form fieldset {
  margin-bottom:1em;
}
